<!-- app/views/energies/_hourly_graph.erb.html -->
<hr class="border-bottom border-3 border-dark">

<div class="text-center font-weight-bold">
  <h4>Hour by Hour for <%= theDate.strftime("%d %b %Y") %></h4>
  <!-- For some reason just picking a date, it is 8 hours short, probably a time zone issue, but adding 0 hours fixes it UGLY -->
 <% theDate = theDate + 0.hour %>
<!-- Could pass in a variable for number of days or do that in hourly -->
  <% time_span = theDate..theDate + 24.hour %>
  
  <%= line_chart [
  {name: "Enphase Produced", data: HourByHour.where(datetime: time_span).pluck(:datetime, :enphase)},
  {name: "Sent to SCE", data: HourByHour.where(datetime: time_span).pluck(:datetime, :to_sce)},
  {name: "From SCE", data: HourByHour.where(datetime: time_span).pluck(:datetime, :from_sce)},
  {name: "Used", data: HourByHour.where(datetime: time_span).pluck(:datetime, :used)}
  ]%>    
</div>

<hr class="border-bottom border-3 border-dark">
